#######################################################################
# DWM Proxy settings
#

# Bind port
port = 1885

# Log level (0=none, 1=error, 2=warning, 3=info, 4=debug 5=verbose)
log_level = 3

# Log file
log_file = "/var/log/dwm-proxy.log"

# MQTT server settings
mqtt_server_host = "localhost"
mqtt_server_port = 1883
mqtt_user = "dwmuser"
mqtt_password = "dwmpass"
mqtt_topic_prefix = "dwm"
