#######################################################################
# DWM Kernel Module settings
#

# UWB network PANID
# Allowed values: 16-bit number in decimal, hexadecimal or octal format
panid = 0x06C1

# UWB encryption
# Allowed values: true/false
enc_en = false

# UWB encryption key
# Allowed values: 128-bit number in hexadecimal format
enc_key = "11111111222222223333333344444444"

# UWB firmware update
# Allowed values: true/false
uwb_fwup = true

# UWB mode
# Allowed values: 0=Off 1=Passive 2=Active
uwb_mode = 2

# daemon settings
proxy_server_host = "localhost"
proxy_server_port = 1885
mqtt_user = "dwmuser"
mqtt_password = "dwmpass"
mqtt_topic_prefix = "dwm"
